{% extends 'layout.html' %}

{% block title %}Here be the criteria ye filter by{% endblock %}

{% macro input(title, type, name) %}
	<!-- <form method="POST"> -->
		<div class="mt-2 form-row">
			<h4 class="col-2 text-warning">{{title}}</h4>
			<div class="col-4">
				<input class="form-control" type="{{type}}" name="filterCrit" id="{{name}}">
			</div>
		</div>
		<!-- <input type="submit" name="filter" id="filter" value="Filter"> -->
	<!-- </form> -->
{% endmacro %}

{% block body %}
<div class = "container mt-4 fluid" style="min-height: 82vh; height:82vh">
	<div class="col-10 mx-auto rounded" style="background-color: rgb(40,40,40,0.5)">
		<h1 class="mt-4 text-warning display-4">How high are your standards?</h1>
		<form class="mt-4 mb-4" method="POST">
			{{input("Age", "text", "filterAge")}}  <!-- can already set age upper + lower, here filter by specific age -->
			{{input("Fame", "text", "filterFame")}}
			{{input("Gender", "text", "filterGender")}}
			<div class="mt-2 form-row">
				<h4 class="col-2 text-warning">Location</h4>
				<div class="col-4">
					<select name="filterCrit">
						<option value="">Anywhere</option>
						<option value="suburb">My Suburb</option>
						<option value="city">My City</option>
					</select>
				</div>
			</div>
			<div class="mt-2 form-row">
				<h4 class="col-2 text-warning">Interest</h4>
				<div class="col-4">
					<select name="filterCrit" multiple>
						<option value="">None</option>
						<option value="Octopi/Octopuses/Octopodes">Octopi/Octopuses/Octopodes</option>
						<option value="Alcohol">Alcohol</option>
						<option value="Arguing with people online">Arguing with people online</option>
						<option value="Tying knots">Tying knots</option>
						<option value="Salami">Salami</option>
						<option value="Dating Apps">Dating Apps</option>
						<option value="Kicking puppies">Kicking puppies</option>
						<option value="Counting from 1-10 100 times">Counting from 1-10 100 times</option>
						<option value="Repetitive Music">Repetitive Music</option>
						<option value="Doing cartwheels">Doing cartwheels</option>
					</select>
				</div>
			</div>
			<div class="mt-2 form-row">
				<h4 class="col-2 text-warning">Order By</h4>
				<div class="col-4">
					<select name="sortCrit">
						<option value="">None</option>
						<option value="1">Age Ascending</option>
						<option value="2">Age Descending</option>
						<option value="3">Fame Ascending</option>
						<option value="4">Fame Descending</option>
						<option value="5">Number Of Interests</option>
					</select>
				</div>
				</div>
			<input class="btn btn-outline-warning mt-4 mb-4" type="submit" name="filter" id="filter" value="Apply">
		</form>
	</div>
</div>
{% endblock %}