{% extends 'layout.html' %}

{% block title %}Matcha - Home{% endblock %}

{% block navlist %}
	<li><a href="/">Home</a></li>



	{% if userLogged == false %}
		<li><a href="/login">Login</a></li>
		<li><a href="/register">Register</a></li>
	{% else %}
		<li><a href="/suggestions">Matcha Me, Mario</a></li>
	{% endif %}

{% endblock %}

{% block body %}

	{% if user %}
		<h1>{{user.username}}</h1><br >
		<h3>{{user.firstname}} {{user.surname}}</h3>
		<h2>PROFILE INFO</h2><br >
			<p>{{user.about}}</p><br >
		<h1>IMAGES</h1><br >
		{% if photos %}
			{% for photo in photos %}
				<div class="shadow-lg mr-2">
					<img class="rounded border-warning" src="data:image/jpg;base64,{{photo.photo}}" width="180" height="180">
				</div>
			{% endfor %}
		{% endif %}
		<h1>INTERESTS</h1><br >
	{% endif %}

{% endblock %}