{% extends 'layout.html' %}

{% block title %}Matcha - Login{% endblock %}

{% block body %}
    {% macro interest(value) %}
    	<td>
    		<label for="interests">{{value}}</label>
    		<input type="checkbox" name="interests" id="{{value}}" value="{{value}}">
    	</td>
    {% endmacro %}
	<h1 class="text-warning display-4">Select Your Interests!</h2>
	<form action="" method="POST" novalidate>

        {% for hobby in all_interests %}
            {% if interests.includes(hobby) %}
                {{hobby}}<input type="checkbox" name="interests" id={{hobby}} value="{{hobby}}" checked><br>
            {% else %}
                {{hobby}}<input type="checkbox" name="interests" id={{hobby}} value="{{hobby}}"><br>
            {% endif %}
        {% endfor %}
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		<button class="mb-2 btn btn-warning text-danger font-weight-bold"type="submit">Send it!</button>
	</form>
{% endblock %}