<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Following meta tag probably not needed as IE has been updated -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Matcha</title>
</head>
<body>
	<header>
		<h1>{%block title %}{% endblock %}</h1>
		<nav>
			<ul>
				{% block navlist %}{% endblock %}
			</ul>
		</nav>
	</header>
	<section role="main">
		{% block body %}{% endblock %}
	</section>
</body>
<li><a href="/logout">Logout</a></li>
<li><a href="/updateinfo">Update My Info</a></li>