{% extends 'layout.html' %}

{% block title %}Matcha - Login{% endblock %}

{% block body %}
<div class = "container mt-4">
	<div class = "row">
		<div class = "col-10 mx-auto bg-danger rounded">
			<br />
			<h1 class="text-warning display-4">Welcome back!</h2>
			<br />
			<form action="" method="POST" novalidate>
				<input class="form-control"type="email" name="email" id="email" placeholder="Email">
				<br />
				<input class="form-control" type="password" name="password" id="password" placeholder="Password">
				<br />
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<button class="mb-2 btn btn-warning text-danger font-weight-bold"type="submit">Login</button>
				<br />
				<a href="/register" class="text-decoration-none text-warning mb-4">I need an account</a>
				<br />
				<a href="/resetpwd" class="text-decoration-none text-warning mb-4">Forgot Password?</a>
			</form>
			<br />
		</div>
	</div>
</div>

{% endblock %}