{% extends 'layout.html' %}

{% block title %}Matcha - Login{% endblock %}

{% block body %}
<div class = "row" style="min-height: 82vh; height:82vh">
		<div class = "col-10 align-self-center mx-auto rounded" style="background-color: rgb(40,40,40,0.5)">
			<br />
			<h1 class="text-warning display-4">Welcome back!</h1>
			<br />
			<form action="" method="POST" novalidate>
				<input class="form-control"type="email" name="email" id="email" placeholder="Email">
				<br />
				<input class="form-control" type="password" name="password" id="password" placeholder="Password">
				<br />
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<button class="mb-2 btn btn-outline-warning font-weight-bold" type="submit" id="login">Login</button>
				<br />
				<a href="/register" class="text-decoration-none text-warning mb-4">I need an account</a>
				<br />
				<a href="/resetpwd" class="text-decoration-none text-warning mb-4">Forgot Password?</a>
			</form>
			<br />
		</div>
</div>
{% endblock %}