{% extends 'layout.html' %}

{% block title %}Matches{% endblock %}

{% macro  %}
{% endmacro %}

{% block body %}
<!-- Need to add unmatch/unlike buttons respectively, linked to unlike route i.e. /matches/unlike -->
	{% if matched.length > 0 or likedMatches.length > 0 %}
		<table>
			<h2 style="color: white">Matched users (both liked each other)</h2>
			{% for match in matched %}
				<tr>
					<td style="color: white">
						<a href="/profile/{{match._id.toString()}}">{{match.username}}</a>
						{% if match.loggedIn == true %}
							{{"Online"}}
						{% else %}
							{{"Last seen: "+ match.lastSeen.toString().substring(3, 25)}}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
		<br >
		<table>
			<h2 style="color: white">liked users (other users liked by current user)</h2>
			{% for liked in likedMatches %}
				<tr>
					<td style="color: white">{{liked.username}}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<h2 style="color:white">What are you even using this app for?</h2>
	{% endif %}
	<br >
	<a href="/suggestions"><button>potential matches</button></a>
{% endblock %}