{% extends 'layout.html' %}

{% block title %}Matches{% endblock %}

{% block body %}
<!-- Need to add unmatch/unlike buttons respectively, linked to unlike route i.e. /matches/unlike -->
<div class = "row" style="min-height: 82vh; height:82vh">
	<div class = "col-10 align-self-center mx-auto rounded" style="background-color: rgb(40,40,40,0.5)">
		<h1 class="mt-4 text-warning display-4">Matches & Likes</h1>
		{% if matched.length > 0%}
		<h2 class="mt-4 text-warning">Start talking to...</h2>
			{% for match in matched %}
				<div class="row">
					<!-- Want to put profile picture here -->
					<div class="col">
					<a class="text-decoration-none h4 align-self-bottom text-warning" href="/profile/{{match.id.toString()}}" id="profile_view">{{match.username}}</a>
					<form action="" method="POST">
						<input type="hidden" id="profile_viewed" value={{match.username}}>
					</form>
					<small class="form-text text-warning">
							{% if match.loggedIn == true %}
								{{"Online"}}
							{% else %}
								{{ " Last seen: " + Date(match.lastSeen).toString().substring(3, 25)}}</p>
							{% endif %}
					</small>
					</div>
					<a class="text-decoration-none h4 align-self-bottom text-warning" href="/messages/{{[match.username, user.username]|sort|join('-')}}"><button class="btn btn-sm btn-warning text-dark">Message</button></a>
					<form class="col" action="" method="POST">
							<div class="form-row">
								<input type="hidden" name="liked" id="liked" value="{{match.username}}">
								<input class="btn btn-sm btn-warning text-dark" type="submit" name="block" id="block" value="Block">
								<input class="btn btn-sm btn-warning text-dark" type="submit" name="block" id="block" value="Report Profile">
							</div>
					</form><br />
				</div>

			{% endfor %}
		{% endif %}
		{% if likedMatches.length > 0 %}
			<h2 class="mt-4 mb-4 text-warning">People you've got an eye on</h2>
			{% for liked in likedMatches %}

				<div class="row">
					<!-- Want to put profile picture here -->
					<div class="col">
						<h5 class="mt-4 mb-4 text-warning">{{liked.username}}</h5>
					</div>
					<div class="col">
						<form method="POST">
							<input type="hidden" name="liked" id="liked" value="{{liked.username}}">
							<input class="btn btn-sm btn-warning text-dark" type="submit" name="block" id="block" value="Block">
						</form>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		<div class="mt-4 mb-4">
			<a href="/suggestions"><button class="btn btn-outline-warning">Find someone new</button></a>
		</div>
	</div>
	<!-- block off to the side that should display usernames of people who have liked/viewed your profile -->
	<div>
		{% if user.likedBy != undefined %}
			{% for liker in likedBy %}
					<a class="text-decoration-none h4 align-self-bottom text-warning" href="/profile/{{liker.id.toString()}}">{{liker.username}}</a><br>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}
