{% extends 'layout.html' %}

{% block title %}Matches{% endblock %}

{% macro input(type, name, id, value) %}
	<input type="{{ type }}" name="{{ name }}" id="{{ id }}" value="{{ value }}">
{% endmacro %}

{% block body %}
	{% if matches %}
		<h1>Potential matches based on arbitrary stuff: </h1>
		<h2>Filter by:</h2>
		<!-- Click on one of these, popup with corresponding form -->
		<form method="POST">
			<h3>Age</h3>
			<input type="text" name="filterAge" id="filterAge">
			<h3>Fame</h3>
			<input type="text" name="filterFame" id="filterAge">
			<h3>Gender</h3>
			<input type="text" name="filterGender" id="filterAge">
			<h3>Location</h3>
			<input type="text" name="filterLocation" id="filterAge">
			<h3>Interests</h3>
			<input type="text" name="filterInterests" id="filterAge">
			<input type="submit" name="filter" id="filter" value="Filter">
		</form>

		<table>
			{% for match in matches %}
				<tr>
					<form action="" method="POST">
						<td>{{match.username}}</td>
						<td>{{ input("hidden", "potmatch", "potmatch", match.verifkey) }}</td>
						<td>{{ input("submit", "like", "like", "Like") }}</td>
					</form>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<h2>look at all these matches i dont have yet</h2>
	{% endif %}
{% endblock %}
