{% extends 'layout.html' %}

{% block title %}Matcha - Login{% endblock %}

{% block body %}
<body>
  <header>
    <h1 style="color: white">Dont be shy, Say HI!</h1>
  </header>

  <!-- <section>
    <div id="change_username">
    <input id="username" type="text" />
    <button id="send_username" type="button">Change username</button>
    </div>
  </section> -->

  <section id="chatroom">
      {% for obj in messages %}
        <p style="color: white"> {{ obj.sentBy}} :  {{ obj.message }}
      {% endfor %}
    <section id="feedback"></section>
  </section>

  <section id="input_zone">
    <input type="hidden" id="sendChatId" value="{{chatID}}">
    <input type="hidden" id="chatFrom" value="{{chatFrom}}">
    <input type="hidden" id="chatTo" value="{{chatTo}}">
    <input id="message" class="vertical-align" type="text" />
    <button id="send_message" class="vertical-align" type="button">Send</button>
  </section>
</body>

{% endblock %}