{% extends 'layout.html' %}

{% block title %}Delete A Photo{% endblock %}

{% block body %}
    {% if photo %}
		<h1>Select a photo to delete</h1>
            {% macro input(type, name, id, value) %}
                <input type="{{ type }}" name="{{ name }}" id="{{ id }}" value="{{ value }}">
            {% endmacro %}    
            {% for current in photo %}
                <img src="data:image/jpg;base64,{{current.photo}}" width="180" height="180">
				<form action="" method="POST">
                    {{ input("hidden", "photo", "photo", current.photoid) }}
					{{ input("submit", "delete", "delete", "delete") }}
				</form>
			{% endfor %}
	{% endif %}
{% endblock %}
