{% extends 'layout.html' %}

{% block title %}Matcha{% endblock %}

{% block body %}
<div class = "container mt-4" style="min-height: 82vh; height:82vh">
    <div class = "row">
        <div class = "col-10 mx-auto bg-danger rounded">
            <br />
            <h2 class="text-warning display-4">New profile picture</h2>
            <br />
            <h2 class="text-warning">Upload a photo</h2>
            <form method="POST" action="" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-1">
                            <label class="btn btn-danger border-warning font-weight-bold text-warning btn-file mt-4">
                            Browse <input style="display: none;" class="text-warning" type="file" name="new_profile_photo" id="new_profile_photo" accept="image/*"><br>
                            </label>
                    </div>
                    <div class="col">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-warning font-weight-bold text-danger mt-4" type="submit">Upload profile photo</button>                    
                    </div>
                </div>
            </form>
            <br />
            <a class=" font-weight-bold text-warning mt-4 mb-6" href="/takeprofilephoto">Take a photo</a>
            <br /><br />
        </div>
    </div>
</div>

{% endblock %}