{% extends 'layout.html' %}

{% block title %}Matcha - Register{% endblock %}

{% block navlist %}
	<li><a href="/">Home</a></li>
	<li><a href="/login">Login</a></li>
{% endblock %}

{% macro interest(value) %}
	<td>
		<label for="interests">{{value}}</label>
		<input type="checkbox" name="interests" id="interests" value="{{value}}">
	</td>
{% endmacro %}

{% block body %}

<div class = "container mt-4">
	<div class = "row">
		<div class = "col-10 mx-auto bg-danger rounded">
			<br />
			<h2 class="text-warning">Start your fire</h2>
			<form action="" method="POST" enctype="multipart/form-data" novalidate>
				<br />
				<div class="form-row">
					<div class="col">
						<input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name">
					</div>
					<div class="col">
						<input type="text" class="form-control" name="surname" id="surname" placeholder="Surname">
					</div>
				</div>
				<br />
				<div >
					<input class="form-control" type="email" name="email" id="email" placeholder="Email">
					<small id="emailHelp" class="form-text text-warning">We'll never share your personal info with anyone else</small>
				</div>
				<br />
				<div class="form-row">
					<div class="col">
						<input class="form-control" type="password" name="password" id="password" placeholder="Password">
					</div>
					<div class="col">
						<input class="form-control" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password">
					</div>
				</div>
				<br />
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">@</span>
					</div>
					<input class="form-control" type="text" name="username" id="username" placeholder="Username">
				</div>
				<br />
				<div class="form-row">
					<div class="col">
						<input class="form-control" type="number" name="age" id="age" placeholder="Age">
					</div>
					<div class="col">
						<input class="form-control" type="number" name="dist" id="dist" placeholder="Max distance (km)">
					</div>
				</div>
				<br />
				<div class="form-row">
					<div class="col">
					<input class="form-control"type="text" name="gender" id="gender" placeholder="Gender">
					</div>
					<div class="col">
					<input class="form-control" type="text" name="gender_pref" id="gender_pref" placeholder="Gender preference">
					</div>
				</div>
				<br />
				<div >
					<input class="form-control" type="text" name="about" id="about" placeholder="Share some info about yourself...">
				</div>
				<br />
				<div>
					<h4 class="text-warning mt-4" for="photo">Profile Picture</h4>
					<input class="mt-2" type="file" name="photo" id="photo" accept="image/*">
				</div>
				<br />
				<h4 class="text-warning mt-4" for="photo">Interests</h4>
				<div class="interests text-danger mt-4">
					<div class="row mt-2">
						<div class="font-weight-bold col-6 ml-3 bg-warning rounded-pill text-center">{{ interest("Octopi/Octopuses/Octopodes") }}</div>
						<div class="font-weight-bold col-3 ml-3 bg-warning rounded-pill text-center">{{ interest("Alcohol") }}</div>
					</div>
					<div class="row  mt-2">
						<div class="font-weight-bold col-2 ml-3 bg-warning rounded-pill text-center">{{ interest("Travel") }}</div>
						<div class="font-weight-bold col-5 ml-3 bg-warning rounded-pill text-center">{{ interest("International politics") }}</div>
						<div class="font-weight-bold col-2 ml-3 bg-warning rounded-pill text-center">{{ interest("Salami") }}</div>
					</div>
					<div class="row mt-2">
						<div class="font-weight-bold col-4 ml-3 bg-warning rounded-pill text-center">{{ interest("Dating Apps") }}</div>
						<div class="font-weight-bold col-4 ml-3 bg-warning rounded-pill text-center">{{ interest("Interesting Things") }}</div>
					</div>
					<div class="row mt-2">
						<div class="font-weight-bold col-6 ml-3 bg-warning rounded-pill text-center">{{ interest("Western ideas of meditation") }}</div>
						<div class="font-weight-bold col-4 ml-3 bg-warning rounded-pill text-center">{{ interest("Repetitive Music") }}</div>
					</div>
				</div>
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<br />
				<button class="mx-auto mt-4 btn btn-warning text-danger font-weight-bold" type="submit">Register Now</button>
				<br />
			</form>
			<br />
		</div>	
	</div>
</div>
{% endblock %}