{% extends 'layout.html' %}

{% block title %}Matcha{% endblock %}

{% block body %}
<form action="" method="POST">
	<div class="form-control">
		<label for="confirm_email">Email adress you are registered with</label>
		<input type="email" name="confirm_email" id="confirm_email" required>
    </div>
    <div class="form-control">
		<label for="new_pass_forgot">New Password</label>
		<input type="password" name="new_pass_forgot" id="new_pass_forgot" required>
    </div>
    
    <div class="form-control">
		<label for="confirm_new_pass_forgot">Confirm New Password</label>
		<input type="password" name="confirm_new_pass_forgot" id="confirm_new_pass_forgot" required>
	</div>
	<input type="hidden" name="_csrf" value="<%= csrfToken %>">
	<button type="submit">Update Password</button>
</form>

<div>
	<li><a href="/">Back to home</a></li>
</div>
{% endblock %}