{% extends 'layout.html' %}

{% block title %}Matcha - Login{% endblock %}

{% block navlist %}
	<li><a href="/">Home</a></li>
	<li><a href="/register">Register</a></li>
{% endblock %}

{% block body %}
<div class = "container mt-4">
	<div class = "row">
		<div class = "col-10 mx-auto bg-danger rounded">
			<br />
			<h2 class="text-warning">Welcome back!</h2>
			<br />
			<form action="" method="POST" novalidate>
				<input class="form-control"type="email" name="resetpwd_email" id="resetpwd_email" placeholder="Email">
				<br />
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<button class="mb-2 btn btn-warning text-danger font-weight-bold"type="submit">Send me a reset password link</button>
			</form>
			<br />
		</div>
	</div>
</div>

{% endblock %}