{% extends 'layout.html' %}

{% block title %}Suggested Matches{% endblock %}

{% macro input(type, name, id, value) %}
	<input type="{{ type }}" name="{{ name }}" id="{{ id }}" value="{{ value }}">
{% endmacro %}

{% block body %}
<div class = "container mt-4 fluid" style="min-height: 82vh; height:82vh">
	<div class="col-10 mx-auto rounded" style="background-color: rgb(40,40,40,0.5)">
		{% if matches %}
		<h1 class="mt-4 text-warning display-4">Potential matches based on arbitrary stuff</h1>
		<a href="/filter"><button class="btn btn-outline-warning">Filter</button></a>
		<a href="/matches"><button class="ml-2 btn btn-outline-warning">Liked</button></a>
		<!-- Click on one of these, popup with corresponding form -->
		<table>
				{% for match in matches %}
					<tr>
						<form action="" method="POST">
							<td style="color: white">{{match.username}}</td>
							<td>{{ input("hidden", "potmatch", "potmatch", match.verifkey) }}</td>
							<td>{{ input("submit", "like", "like", "Like") }}</td>
						</form>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<h2>look at all these matches i dont have yet</h2>
		{% endif %}
	</div>
</div>
{% endblock %}

		<!-- Click on one of these, popup with corresponding form -->
		<!--<table>
			{% for match in matches %}
				<tr>
					<form action="" method="POST">
						<td style="color: white">{{match.username}}</td>
						<td>{{ input("hidden", "potmatch", "potmatch", match.verifkey) }}</td>
						<td>{{ input("submit", "like", "like", "Like") }}</td>
					</form>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<h2>look at all these matches i dont have yet</h2>
	{% endif %}
{% endblock %}-->
