{% extends 'layout.html' %}

{% block title %}Suggested Matches{% endblock %}

{% macro input(type, name, id, value) %}
	<input type="{{ type }}" name="{{ name }}" id="{{ id }}" value="{{ value }}">
{% endmacro %}

{% block body %}
	{% if matches %}
		<h1 color="white">Potential matches based on arbitrary stuff: </h1>
		<span>
			<a href="/filter"><button>Filter</button></a>
			<a href="/matches"><button>Liked</button></a>
			{% if filters %}
				<button onclick="clearFilters()">Clear Filters</button>
			{% endif %}
		</span>
		<!-- Click on one of these, popup with corresponding form -->
		<table>
			{% for match in matches %}
				<tr>
					<form action="" method="POST">
						<td style="color: white">{{match.username}} : {{match.about}}</td>
						<td>{{input("hidden", "liker", "liker", loggedUser.username)}}</td>
						<td>{{ input("hidden", "potmatch", "potmatch", match.username) }}</td>
						<td>{{ input("submit", "like", "like", "Like") }}</td>
					</form>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<h2>look at all these matches i dont have yet</h2>
	{% endif %}
<script type="text/javascript">
	function clearFilters() {
		const xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = () => {
			if (xhttp.status == 200 && xhttp.readyState == 4) {
				location.reload();
			}
		}
		xhttp.open("POST", 'filterclear', true);
		xhttp.send();
	}
</script>
{% endblock %}
