{% extends 'layout.html' %}

{% block title %}Matcha{% endblock %}
{% block body %}
<div class = "container mt-4">
    <div class = "row">
        <div class = "col-10 mx-auto bg-danger rounded">
            <br />
            <h1 class="text-warning display-4">Something changed?</h2>
            <br />
            <div class="container mb-4">
                <div class="row">
                    <a class="text-decoration-none h4 text-warning ml-3" href="/username">Username</a>
                </div>
                <div class="row">
                    <a class="text-decoration-none h4 text-warning ml-3 mt-2" href="/name">Firstname & Surname</a>
                </div>
                <div class="row">
                    <a class="text-decoration-none h4 text-warning ml-3 mt-2" href="/email">E-mail</a>
                </div>
                <div class="row">
                    <a class="text-decoration-none h4 text-warning mt-2 ml-3" href="/password">Password</a>
                </div>
                <div class="row">
                    <a class="text-decoration-none h4 text-warning mt-2 ml-3" href="/age">Age Preferences</a>
                </div>
                <div class="row">
                    <a class="text-decoration-none h4 text-warning mt-2 ml-3" href="/maxdist">Max Distance</a>
                 </div>
                <div class="row">
                    <a class="text-decoration-none h4 text-warning mt-2 mb-3 ml-3" href="/photos">Add & Delete Photos</a>
                </div>
                <div class="row">
                    <a class="text-decoration-none h4 text-warning mt-2 mb-3 ml-3" href="/interests">Interests</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}